/* TELEGRAM ADMIN BUTTON */


.telegram-float{

position:fixed;

right:25px;

bottom:25px;

background:#229ED9;

color:white;

text-decoration:none;

padding:15px 22px;

border-radius:50px;

font-size:16px;

font-weight:bold;

box-shadow:0 0 25px rgba(34,158,217,.6);

z-index:999;

animation:telegramPulse 2s infinite;

}



.telegram-float:hover{

transform:scale(1.08);

background:#0088cc;

}



@keyframes telegramPulse{


0%{

box-shadow:0 0 10px rgba(34,158,217,.4);

}


50%{

box-shadow:0 0 35px rgba(34,158,217,.9);

}


100%{

box-shadow:0 0 10px rgba(34,158,217,.4);

}

}



/* XAUUSD AI CARD */


.ai-card{

background:

linear-gradient(
145deg,
#111827,
#020617
);

border-radius:20px;

padding:30px;

border:1px solid #334155;

box-shadow:0 0 30px rgba(0,255,150,.15);

color:white;

}



.ai-card h2{

margin-top:0;

}



.price{

font-size:42px;

font-weight:900;

text-align:center;

margin:20px 0;

}



.signal{

font-size:30px;

font-weight:bold;

text-align:center;

padding:15px;

border-radius:15px;

}



.buy{

color:#00ff88;

background:rgba(0,255,120,.12);

border:1px solid #00ff88;

}



.sell{

color:#ff5555;

background:rgba(255,0,0,.12);

border:1px solid #ff5555;

}



.wait{

color:#ffd000;

background:rgba(255,200,0,.12);

border:1px solid #ffd000;

}



.info-box{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:15px;

margin-top:20px;

}



.info-box div{

background:rgba(255,255,255,.05);

padding:15px;

border-radius:15px;

text-align:center;

}



.progress{

height:10px;

background:#1e293b;

border-radius:20px;

overflow:hidden;

margin-top:20px;

}



.progress div{

height:100%;

background:#00ff88;

border-radius:20px;

}



.online{

color:#00ff88;

font-weight:bold;

}



.update{

color:#94a3b8;

font-size:14px;

}



@media(max-width:600px){

.info-box{

grid-template-columns:1fr;

}

}
